<!DOCTYPE html>
<html lang="ro" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="robots" content="noindex, nofollow" />
    <.live_title suffix=" · paianjen">
      <%= assigns[:page_title] || "paianjen" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white text-slate-900 antialiased min-h-screen flex flex-col">
    <%= @inner_content %>
  </body>
</html>
