# Elixir
/_build/
/deps/
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Node / assets
/assets/node_modules/
/priv/static/assets/
/assets/package-lock.json

# Docker
.dockerignore

# IDE
/.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
data